.newsletter-form__inner {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  flex-direction: column;
}
@media (min-width: 576px) {
  .newsletter-form__inner {
    flex-direction: row;
  }
}
.newsletter-form__field-wrapper {
  flex: 1;
  width: 100%;
  position: relative;
}
@media (min-width: 1200px) {
  .newsletter-form__field-wrapper {
    width: auto;
  }
}
.newsletter-form__message {
  margin-bottom: 0;
}
@media (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}
.newsletter-form__message--success {
  margin-top: 2rem;
}
@media (min-width: 750px) {
  .newsletter-form__message--success {
    width: 100%;
  }
}
.newsletter-form__button {
  margin-left: 1.4rem;
}

@media screen and (min-width: 1200px) {
  .footer .newsletter__form {
    max-width: 42.5rem;
    width: 100%;
  }
}

.newsletter__form {
  max-width: 42.5rem;
  width: 100%;
}
.newsletter__form .rte {
  color: rgba(var(--color-foreground), 0.6);
}
.newsletter__form .rte a {
  color: rgb(var(--color-link), 1);
  transition: color var(--duration-default);
}
.newsletter__form .rte a:hover {
  color: rgba(var(--color-foreground), 0.8);
}
.newsletter .newsletter-icon {
  margin-bottom: 3.2rem;
}
.newsletter__title {
  margin-bottom: 1.6rem;
}
.newsletter .newsletter__information {
  margin-bottom: 3.2rem;
}
.newsletter__text {
  margin-top: 2.4rem;
}
.newsletter__text p {
  margin: 0;
}
.newsletter .content_position-left {
  margin-right: auto;
}
.newsletter .content_position-center {
  margin: 0 auto;
}
.newsletter .content_position-right {
  margin-left: auto;
}
.newsletter .newsletter__text {
  margin-bottom: 0;
}

.success__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.384);
}
.contenedor__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vh;
  height: 70vh;
  background: white;
  position: relative;
  padding: 0 20px;
  z-index: 800;
}
.success__modal h3 {
  width: fit-content;
  font-size: 24px;
}
.success__modal .success__icon {
  width: 60px;
  height: 60px;
}

.close__modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.success__modal.hidden {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 799;
}
