.buttons_radius{
  border-radius: 3px!important;
}

.button_pink-color_white-letters{
  color: white!important;
  background-color: #ff28ab!important;
  font-weight: 300 !important;
}

.button_pink-color_white-letters:hover{
  opacity: 1!important;
}

.white_letter_color{
  color: white!important;
}

.image-with-text__text{
  font-size: 23px;
}

/* .center_title{
  text-align: center;
} */